:root {
  --text-color: #757575;
  --title-color: #212121;
  --primary-background-color: #ffffff;
  --secondary-background-color: #f5f4fa;
  --hero-footer-background-color: #2f303a;
  --white-text-color: #ffffff;
  --black-text-color: #000000;
  --footer-white-color-text: rgba(255, 255, 255, 0.6);
  --accent-color: #2196f3;
  --second-accent-color: #188ce8;
  --body-color: #e5e5e5;
  --border-card: #eeeeee;
  --fill-icon-color: #afb1b8;
}
/* END COLORS */

/* DEFAULT */
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}
ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
img {
  display: block;
}
.list {
  list-style: none;
}
.text {
  text-decoration: none;
}
.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}
.section {
  padding-top: 94px;
  padding-bottom: 94px;
  margin: 0 auto;
}

.section-title {
  color: var(--title-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin-bottom: 50px;
}
button {
  font-family: inherit;
}
span {
  color: var(--accent-color);
}
/* END DEFAULT */

/* BODY GLOBAL */
body {
  color: var(--text-color);
  background-color: var(--primary-background-color);
  font-family: 'Roboto', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  padding: 0;
  margin: 0;
  width: 100%;
}
/* END BODY GLOBAL */

/* HIDDEN HEADERS */
.hidden-text {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* END HIDDEN HEADERS */

/* HEADER */
.header-container {
  display: flex;
  align-items: center;
}
.navigation {
  display: flex;
  align-items: center;
}
.nav {
  display: flex;
  align-items: center;
}

.header-contacts {
  display: flex;
  margin-left: auto;
  align-items: center;
}
.logo {
  color: var(--black-text-color);
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}
.logo-top {
  color: var(--black-text-color);
  margin-right: 93px;
  padding-top: 24px;
  padding-bottom: 25px;
}
.nav-item:not(:last-child) {
  margin-right: 50px;
}

.nav a {
  font-family: 'Roboto', sans-serif;
  color: var(--title-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  padding: 32px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav .nav-active {
  color: var(--accent-color);
  position: relative;
}

.nav a:hover,
.nav a:focus {
  color: var(--accent-color);
}
.nav a.nav-active::after {
  position: absolute;
  left: 0;
  bottom: -1px;
  display: block;
  content: '';
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-color);
}
.header-contacts .link {
  color: var(--text-color);
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  padding: 32px 0;
}
.header-contacts .effect:hover,
.header-contacts .effect:focus {
  color: var(--accent-color);
}
.header-contacts .effect:hover .header-icon,
.header-contacts .effect:focus .header-icon {
  fill: var(--accent-color);
}

.main-header {
  background-color: #fff;
  margin: 0 auto;
  border-bottom: 1px solid #ececec;
}
.header-icon {
  fill: currentColor;
  margin-right: 10px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* END HEADER */

/* HERO */
.hero-section {
  background-color: var(--hero-footer-background-color);
  margin: 0 auto;
  padding-top: 200px;
  padding-bottom: 200px;
  max-width: 1600px;
  min-height: 600px;
  text-align: center;
  background: #c4c4c4;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/herophoto.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-container {
  text-align: center;
}
.main-hero-title {
  color: var(--white-text-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  margin: 0 auto 30px;
  max-width: 696px;
}
.btn {
  color: var(--white-text-color);
  background-color: var(--accent-color);
  border: 0;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  border-radius: 4px;
  padding: 10px 32px;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hero-section .btn:hover,
.hero-section .btn:focus {
  background-color: var(--second-accent-color);
  color: var(--white-text-color);
}
/* END HERO */

/* ADVANTAGES SECTION */
.advantages-section {
  background-color: var(--primary-background-color);

  margin: 0 auto;
  padding-top: 94px;
}
.advantages {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}

.adv-item {
  width: 270px;
  flex-basis: calc((100% - 120px) / 4);
  margin-left: 30px;
  margin-top: 30px;
}
.adv-title {
  color: var(--title-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.adv-icon {
  width: 70px;
  height: 70px;
}
.image-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  border-radius: 4px;
  background-color: #f5f4fa;
}
/* END ADVANTAGES SECTION */

/* WORK SECTION */
.work-section {
  background-color: var(--primary-background-color);
}
.our-work {
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
}
.our-work-item {
  margin-top: 30px;
  margin-left: 30px;
  flex-basis: calc((100% - 90px) / 3);
  position: relative;
}
.work-overlay {
  background: rgba(47, 48, 58, 0.8);
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-background-color);
  width: 370px;
  height: 70px;
  padding: 27px 0;
}

/* END WORK SECTION */

/* TEAM SECTION */
.team-section {
  background-color: var(--secondary-background-color);
}
.team {
  display: flex;
  flex-wrap: wrap;
  margin-top: -30px;
  margin-left: -30px;
}
.team-names {
  margin-top: 30px;
  margin-left: 30px;
  flex-basis: calc((100% - 120px) / 4);
  border-radius: 0px 0px 4px 4px;
  background: var(--primary-background-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}
.team-info {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 32px;
  padding-right: 32px;
}
.name {
  color: var(--title-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  margin-bottom: 10px;
}
.desc {
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  margin-bottom: 16px;
}
.social-list-icon {
  width: 20px;
  height: 20px;
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-list {
  display: flex;
  justify-content: space-between;
}
.social-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  background-color: var(--primary-background-color);
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.social-list-link:hover,
.social-list-link:focus {
  background-color: var(--second-accent-color);
}

.social-list-link:hover .social-list-icon,
.social-list-link:focus .social-list-icon {
  fill: var(--primary-background-color);
}
/* END TEAM SECTION */

/* CLIENTS */
.clients-list {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}
.client-item {
  flex-basis: calc((100% - 180px) / 6);
  margin-left: 30px;
  margin-top: 30px;
}
.company-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  color: var(--fill-icon-color);
  border-radius: 4px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  border: 1px solid var(--fill-icon-color);
}

.logo-image {
  fill: currentColor;
  width: 106px;
  height: 60px;
}
.company-link:hover,
.company-link:focus {
  border: 1px solid var(--accent-color);
  color: var(--accent-color);
}

/* FOOTER */
.footer {
  background-color: var(--hero-footer-background-color);
  margin: 0 auto;
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer-container {
  display: flex;
  align-items: baseline;
}
.footer-addess-box {
  margin-right: 70px;
}
.footer-contacts-item:not(:last-child) {
  margin-bottom: 9px;
}
.footer-contacts-list {
  width: 231px;
}
address {
  font-style: normal;
  margin-top: 20px;
}
.company-address {
  color: var(--white-text-color);
  margin-bottom: 10px;
}
.contact-link {
  color: var(--footer-white-color-text);
  margin-top: 10px;
  margin-bottom: 10px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-contacts-item a:hover,
.footer-contacts-item a:focus {
  color: var(--accent-color);
}
.logo-footer {
  display: inline-block;
  color: var(--primary-background-color);
}
.footer-social-box {
  width: 206px;
  height: 80px;
  margin-right: 93px;
}
.social-title {
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-background-color);
  margin-bottom: 20px;
}
.footer-social-icon {
  fill: var(--primary-background-color);
  width: 20px;
  height: 20px;
}
.footer-social-list {
  display: flex;
}
.footer-social-list .footer-social-item:not(:last-child) {
  margin-right: 10px;
}
.footer-social-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-social-link:hover,
.footer-socisl-link:focus {
  background-color: var(--accent-color);
}
/* SUBSCRIBE FORM */
.footer-subscribe-form .btn {
  display: inline-flex;
  align-items: center;
  padding: 10px 26px;
}
.footer-input-field {
  margin-right: 12px;
  width: 358px;
  height: 50px;
  padding: 15px 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  background: transparent;
  outline: none;
  color: var(--primary-background-color);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}
.footer-btn-icon {
  margin-left: 10px;
}
/* END FOOTER  END WEBSTUDIO */

/* PORTFOLIO FILTERS BUTTONS */
.filters {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 50px;
}

.filters-item:not(:last-child) {
  margin-right: 8px;
}

.filters .btn:hover,
.filters .btn:focus {
  background-color: var(--accent-color);
  color: var(--white-text-color);
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12), 0px 1px 2px 0px rgba(0, 0, 0, 0.08),
    0px 3px 1px 0px rgba(0, 0, 0, 0.1);
}
.filters .btn {
  color: var(--title-color);
  background-color: var(--secondary-background-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  text-align: center;
  cursor: pointer;
  border: 0;
  border-radius: 4px;
  padding: 6px 22px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* END PORTFOLIO FILTERS BUTTONS */

/* PORTFOLIO PROJECTS */
.projects {
  display: flex;
  flex-wrap: wrap;
  margin-left: -30px;
  margin-top: -30px;
}
.projects-list-container {
  padding: 20px 24px;
  border: 1px solid var(--border-card);
  border-top: 0;
}
.projects-title {
  color: var(--title-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin-bottom: 4px;
}
.projects-description {
  font-size: 16px;
  line-height: 1.86;
  color: var(--text-color);
}
.projects-item {
  width: 370px;
  flex-basis: calc((100% - 90px) / 3);
  margin-left: 30px;
  margin-top: 30px;
  background: var(--primary-background-color);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.projects-item:hover,
.projects-item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 1px 4px 6px rgba(0, 0, 0, 0.16),
    0px 4px 4px rgba(0, 0, 0, 0.06);
}
.image-overlay {
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  color: var(--primary-background-color);
  background: rgba(33, 150, 243, 0.9);
  padding: 63px 24px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.projects-image-wrapper {
  position: relative;
  overflow: hidden;
}
.portfolio-list-link:hover .image-overlay,
.portfolio-list-link:focus .image-overlay {
  transform: translateY(0%);
}
.portfolio-list-link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* END PORTFOLIO PROJECTS */

/* MODAL WINDOW */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.2);
  z-index: 100;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-window {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  padding: 40px;
  background-color: var(--primary-background-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  background-color: #ffffff;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-button {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background-color: transparent;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  padding: 0;
}
.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.form-title {
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  margin-bottom: 12px;
  color: var(--title-color);
}
.modal-form-input-wrapper {
  display: block;
  position: relative;
  margin-top: 4px;
  color: var(--title-color);
}

.form-input {
  border: 1px solid rgba(33, 33, 33, 0.2);
  width: 100%;
  height: 40px;
  border-radius: 4px;
  padding-left: 42px;
  cursor: pointer;
}
.form-label {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.16;
  margin-bottom: 10px;
  color: var(--text-color);
}
.contact-form {
  display: flex;
  flex-direction: column;
}
.form-input:focus {
  border-color: var(--accent-color);
  outline: none;
}
.form-input:focus + .modal-form-icon {
  color: var(--accent-color);
}

.modal-form-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-50%);
  display: block;
  fill: currentColor;
}
.form-message-area {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  padding: 12px 16px;
  margin-top: 4px;
  margin-bottom: 20px;
}
.form-message-area::placeholder {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

.form-message-area:focus {
  border-color: var(--accent-color);
  outline: none;
}
.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}
.form-—Åheckbox {
  position: relative;
  cursor: pointer;
}
.checkbox-custom-icon {
  display: inline-block;
  vertical-align: middle;
  width: 16px;
  height: 15px;
  border: 2px solid var(--title-color);
  border-radius: 2px;
  margin-right: 7px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-checkbox-input:focus + .checkbox-custom-icon {
  border-color: var(--accent-color);
}
.form-checkbox-input:checked + .checkbox-custom-icon {
  background-color: var(--accent-color);
  background-image: url(../images/check.svg);
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border-color: var(--accent-color);
  border-radius: 2px;
}

.form-submit-button {
  align-self: center;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  padding: 10px 32px;
  border: 0;
  border-radius: 4px;
  cursor: pointer;
  color: var(--white-text-color);
  background-color: var(--accent-color);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
  margin-top: 30px;
}
.form-submit-button:hover,
.form-submit-button:focus {
  background-color: var(--second-accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}
/* END MODAL WINDOW */
